# Node.js dependencies (already installed inside the container)
node_modules
npm-debug.log

# Environment files
.env

# Local Prisma SQLite database (if used for development)
prisma/dev.db
prisma/dev.db-journal

# Logs
*.log

# Temporary files
tmp
dist
.DS_Store

# Docker.optimized file
Dockerfile.optimized
